@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
}

#header, #footer {
	background-color: #ad8b6f;
	color: #fff;
	font-weight: bold;
    display: block;
    width: 960px;
    margin-right: auto;
    margin-left: auto;	
}
#header {
	background-image: url("../img/room.jpg");
	min-height: 240px;
}
#footer {
	min-height: 40px;
}
#header h1 {
    color: #393939;
    margin: 0px;
    padding: 19px 25px 0px;
    text-shadow: 1px 1px 14px #fff;
    text-align: right;
}
#header h2 {
    margin: 0px;
    text-shadow: 1px 1px 6px #000;
    padding: 0px 15px 0px 0px;
    text-align: right;
}

#main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#main p, #main ul{
	font-family: sans-serif;
}